<%= render :partial => 'shared/navbar' %>

<!-- the list of houses -->
<%= link_to 'Add a House', new_house_path, class: 'btn my-2 my-sm-0 add-a-house' %>
<div class="container">
  <div class="row">
    <% @houses.each do |house| %>
      <div class="class col-4 mt-3 mb-4">
        <div class="card-product">
        <%= link_to house_path(house) do %>
          <% if house.photo.key.nil? %>
            <img src="https://picsum.photos/400/300" alt="totally a house">
          <% else %>
            <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="avatar-large" /> %>
            <%= cl_image_tag house.photo.key, height: 300, width: 400, crop: :fill, class: 'img-thumbnail' %>
          <% end %>
          <% end %>
          <div class="card-product-infos">
            <h2>
              <%= house.name %>
            </h2>
            <p>
              <%= house.address %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render :partial => 'shared/footer' %>
