<%=h1>Spoopy Houses</h1%>

<div class="house-card">
  <ul>
  <li>
    <%= @house.name %>
  </li>
  <li>
   <%= @house.address %>
  </li>
  <li>
    <%= @house.haunted %>
  </li>
  </ul>
  <%= link_to "Go back", houses_path %>
</div>
