<%= render :partial => 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-9">
      <div class="house-pic-card">
        <h2><%= @house.name %></h2>
        <% if @house.photo.nil? %>
          <img src="https://picsum.photos/400/300" alt="totally a house">
        <% else %>
          <%= cl_image_tag @house.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
  </div>

  <div class="col-12 col-md-6 col-lg-3">
    <div class="house-info-card">
      <ul>
        <li><%= @house.address %></li>
        <li>Haunting level: <%= @house.haunted %></li>
      </ul>
    </div>
  </div>
</div>


<div clas="booking-form">
  <h3>
    Please enter your preferred dates:
  </h3>
  <%= simple_form_for [@house, @booking] do |f| %>
    <%= f.input :start_time, as: :date, html5: true %>
    <%= f.input :end_time, as: :date, html5: true %>
    <%= f.submit %>
  <% end %>
</div>


<%= link_to "Go back", houses_path %>
