<%# ellie's navbar, ellie feel free to change %>
<nav class="navbar navbar-light">
  <%# rail's link helper, we can wrap with do and class is applied with a colon %>
  <%= link_to root_path, class: 'navbar-brand' do %>
    <img src="http://coffeeguymike.com/abandonya/spoopyGhostGryRoof-01.png" alt="Spoopy Logo" class="spoopy-logo">
    <span class="title">abandonya</span>
  <% end %>
  <%# if statement to get a sign out button to show instead when logged in %>
  <% if user_signed_in? %>
    <form class="form-inline">
    <div>
      <%# form for the searchbar %>
      <%= form_tag houses_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query], placeholder: "Find a house"%>
      <%= submit_tag "Search", class: "btn my-2 my-sm-0" %>
      <% end %>
      <%# dropdown menu: %>
      <div class="dropdown">
        <h4>
          ▼
        </h4>
        <div class="dropdown-content">
          <%= link_to 'Add A House', new_house_path %>
          <%= link_to 'My Bookings', bookings_path %>
          <%= link_to 'My Lender Bookings', lender_bookings_path %>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
        </div>
      </div>
    </div>
    </form>
  <% else %>
    <%# we probably *shouldn't* use form for this but I didn't want to change too much %>
    <form class="form-inline">
      <%# these links will work now: %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn my-2 my-sm-0' %>
      <%= link_to 'Log In', new_user_session_path, class: 'btn my-2 my-sm-0' %>
      <%# form for the searchbar %>
      <%= form_tag houses_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query], placeholder: "Find a house"%>
      <%= submit_tag "Search", class: "btn my-2 my-sm-0" %>
    <% end %>
    </form>
  <% end %>
</nav>
