<%# ellie's navbar, ellie feel free to change %>
<nav class="navbar navbar-light">
  <%# rail's link helper, we can wrap with do and class is applied with a colon %>
  <%= link_to root_path, class: 'navbar-brand' do %>
    <img src="http://coffeeguymike.com/abandonya/spoopyGhostGryRoof-01.png" alt="Spoopy Logo" class="spoopy-logo">
    <span class="title">abandonya</span>
  <% end %>
  <%# if statement to get a sign out button to show instead when logged in %>
  <% if user_signed_in? %>
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn my-2 my-sm-0' %>
  <% else %>
    <%# we probably *shouldn't* use form for this but I didn't want to change too much %>
    <form class="form-inline">
      <%# these links will work now: %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn my-2 my-sm-0' %>
      <%= link_to 'Log In', new_user_session_path, class: 'btn my-2 my-sm-0' %>
    </form>
  <% end %>
</nav>

<!-- Default devise? navbar
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
-->
