<%= render :partial => 'shared/navbar' %>

<div class="container my-bookings">
  <h5 class="mybooking-status">Awaiting Response</h5>
  <% if @pending_bookings.empty? %>
    Currently no bookings awaiting your response...
  <% end %>
  <%  @pending_bookings.each do |booking| %>
    <div class="booking-card pending">
      <div class="row remove-margintop">
        <div class="col-8 img-description">
          <div class="mybooking-img">
          <%# make the image smaller maybe? %>
            <% if booking.house.photo.key.nil? %>
              <img src="https://picsum.photos/400/300" alt="totally a house">
            <% else %>
              <%= cl_image_tag booking.house.photo.key, crop: :fill, class: 'img-show' %>
            <% end %>
          </div>
          <div class="mybooking-housedescription">
            <ul class="mybooking-ul">
              <li class="mybooking-title">
                <%= booking.house.name %>
              </li>
              <li>
                <%= booking.house.address %>
              </li>
              <li>
                <%= booking.start_time.strftime('%m/%d/%Y') %> to <%= booking.end_time.strftime('%m/%d/%Y') %>
              </li>
              <li>
                <%= booking.renter.username %>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-2">
          <div class="booking-status">
            <%= booking.status %>
          </div>
        </div>
        <div class="col-2">
          <div class="booking-button">
            <% if booking.pending? %>
              <div class="d-flex">
                <%= simple_form_for booking do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'approved'} %>
                  <%= f.submit 'Approve', class: 'btn my-2 my-sm-0' %>
                <% end %>
                <%= simple_form_for booking do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'denied'} %>
                  <%= f.submit 'Deny', class: 'btn my-2 my-sm-0 denial' %>
                <% end %>
              </div>
            <% else %>
              <%= link_to "Cancel", houses_path, class: 'btn my-2 my-sm-0 cancel-btn' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <h5 class="mybooking-status">Upcoming Bookings</h5>
  <% if @approved_bookings.empty? %>
    No upcoming bookings...
  <% end %>
  <%  @approved_bookings.each do |booking| %>
    <div class="booking-card approved">
      <div class="row remove-margintop">
        <div class="col-8 img-description">
          <div class="mybooking-img">
          <%# make the image smaller maybe? %>
            <% if booking.house.photo.key.nil? %>
              <img src="https://picsum.photos/400/300" alt="totally a house">
            <% else %>
              <%= cl_image_tag booking.house.photo.key, crop: :fill, class: 'img-show' %>
            <% end %>
          </div>
          <div class="mybooking-housedescription">
            <ul class="mybooking-ul">
              <li class="mybooking-title">
                <%= booking.house.name %>
              </li>
              <li>
                <%= booking.house.address %>
              </li>
              <li>
                <%= booking.start_time.strftime('%m/%d/%Y') %> to <%= booking.end_time.strftime('%m/%d/%Y') %>
              </li>
              <li>
                <%= booking.renter.username %>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-2">
          <div class="booking-status">
            <%= booking.status %>
          </div>
        </div>
        <div class="col-2">
          <div class="booking-button">
            <%= link_to "Cancel", houses_path, class: 'btn my-2 my-sm-0 cancel-btn' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>


  <h5 class="mybooking-status">Completed Bookings</h5>
  <%  @past_bookings.each do |booking| %>
    <div class="booking-card completed">
      <div class="row remove-margintop">
        <div class="col-8 img-description">
          <div class="mybooking-img">
          <%# make the image smaller maybe? %>
            <% if booking.house.photo.key.nil? %>
              <img src="https://picsum.photos/400/300" alt="totally a house">
            <% else %>
              <%= cl_image_tag booking.house.photo.key, crop: :fill, class: 'img-show' %>
            <% end %>
          </div>
          <div class="mybooking-housedescription">
            <ul class="mybooking-ul">
              <li class="mybooking-title">
                <%= booking.house.name %>
              </li>
              <li>
                <%= booking.house.address %>
              </li>
              <li>
                <%= booking.start_time.strftime('%m/%d/%Y') %> to <%= booking.end_time.strftime('%m/%d/%Y') %>
              </li>
              <li>
                <%= booking.renter.username %>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-2">
          <div class="booking-status">
            <%= booking.status %>
          </div>
        </div>
        <div class="col-2">
          <div class="booking-button">

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render :partial => 'shared/footer' %>
